@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Libre+Barcode+39+Text&family=Special+Elite&family=Teko&display=swap');

body::before{
    background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapercave.com%2Fwp%2Fwp7176486.jpg&f=1&nofb=1&ipt=dfdfc7ef7933708a217df99573c5e506741a5f26cb71c9d957538139e94aa085&ipo=images);
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#main{
    width: 90%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    backdrop-filter: blur(5px);
    border-radius: 30px;
    background-color: rgba(172, 22, 72, 0.1);
}

#img-div{
    backdrop-filter: blur(10px);
    overflow: hidden;
    width: 100%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(128, 128, 128, 0.1);
}

#image{
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

img{
    display: block;
    max-width: 100%;
    margin: auto;
}

figcaption{

    color: bisque;
    display: block;
    font-style: italic;
    font-size: smaller;
    letter-spacing: 1px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    width: 90%;
    max-width:90%;
    max-height: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}

h1{
    margin-top: 10px;
    font-family: 'Teko', sans-serif;
    color: rgb(255, 249, 239);
    letter-spacing: 2px;
    word-spacing: 4px;
    font-size: 65px;
    text-align: center;
}

h2{
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
    letter-spacing: 3px;
    font-size: 20px;
    word-spacing: 4px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: beige;
}

.tag{
    color: rgba(248, 231, 206, 0.8);
    font-style: italic;
    letter-spacing: 1px;
    word-spacing: 1px;
    font-size: medium;
    font-family: 'Special Elite', cursive;
    text-align: center;
    margin-top: -60px;
}
li{
    text-align: justify;
    max-width: 98%;
    margin-left: -5px;
    font-family: 'Dosis', sans-serif;
    color: beige;
    font-size: 20px;
    line-height: 25px;
}

.quote{
    color: bisque;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    letter-spacing: 2px;
    word-spacing: 3px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer{
    width: 80%;
    padding: 30px;
    font-size: medium;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#tribute-link{
    color: rgb(255, 187, 201);
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    letter-spacing: 1.5px;
    word-spacing: 2px;
}

hr{
    color: crimson;
    border-color: rgb(255, 108, 137);
}

#tribute-link:hover{
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 40px 5px rgba(231, 152, 126, 0.2);
    color: rgb(255, 255, 255);
}

#tribute-link:visited{
    box-shadow: 0 0 20px 2px black;
    color: rgb(233, 202, 191);
}

.tribute{
    font-size: medium;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    word-spacing: 3px;
    padding-top: 15px;
    padding-bottom: 5px;
    color: rgb(255, 246, 232);
}

.al{
    text-align: center;
    margin-top: -15px;
}

.alfi{
    margin-left: auto;
    width: 40px;
    text-align: center;
    max-width: 80%;
    margin-right: auto;
    color: antiquewhite;
    font-size: 30px;
    font-family: 'Libre Barcode 39 Text', cursive;
}

.alfi:hover{
    color: rgb(230, 186, 171);
}